.div-intro{
  align-items: center;
  justify-content: center;
  text-align: center;

  padding-top: 50px;
  padding-bottom: 50px;
}

.img-logo-title{
  display: flex;
  margin: auto;

  width: 50vw;
  min-width: 350px;
}