.div-intro{
  align-items: center;
  justify-content: center;
  text-align: center;

  /* padding-top: 50px; */
  padding-bottom: 50px;
}

.img-logo-title{
  display: flex;
  margin: auto;

  width: 50vw;
  min-width: 350px;
}

.div-intro>h1 {
  font-size: 5vw;
  padding-bottom: 10px;
 
}

@media (max-width: 600px) {
  .div-intro>h1{
    font-size: 30px;
    }
  }
    