*{
  margin: 0px;
    border: 0px;
    padding: 0px;
  
    box-sizing: border-box;

}

p, a, h1, h2,h3,h4, h5, h6,h7, span{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f5f5f5;
}

body{
  background: linear-gradient(300deg,#2b2730,#293027);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;


  text-decoration: none;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


